@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Signika:wght@300;400;500;600;700&display=swap');

:root {
  /* Colors for the page */
  --layout-color: rgb(220, 242, 241);
  --page-color: rgba(127, 199, 217, 0.3);
  --backtitle-color: rgb(15, 16, 53);
  --backtitle-v2-color: rgba(15, 16, 53, 0.8);
  --element-color: rgb(54, 84, 134);
  --cristal-main-color: rgba( 255, 255, 255, 0.15);
  --cristal-border-color: rgba( 255, 255, 255, 0.18);
  --cristal-box-shadow-color: rgba( 255, 255, 255, 0.18);
  --linear-gradient: linear-gradient(
    45deg,
    hsl(238deg 56% 13%) 0%,
    hsl(239deg 63% 14%) 39%,
    hsl(238deg 69% 14%) 54%,
    hsl(238deg 76% 15%) 62%,
    hsl(238deg 82% 15%) 67%,
    hsl(238deg 88% 16%) 72%,
    hsl(239deg 93% 16%) 79%,
    hsl(239deg 100% 17%) 100%
  );

  --backend-tag-color: rgb(231, 0, 0); 
  --frontend-tag-color: rgb(17, 150, 0); 
  --fullstack-tag-color: rgb(17, 0, 255); 

  /* Borders for elements */
  --border-radius-page: 16px;
  --border-radius-title: 10px;

  /* Fonts variables */
  --title-font: 'Signika', sans-serif;
  --text-font: 'Bree Serif', serif;

  /* Pages gap */
  --page-gap: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  /* min-height: 100vh; */
  min-height: 100dvh;
}

/* screens: {
  'sm': '640px',
  // => @media (min-width: 640px) { ... }

  'md': '768px',
  // => @media (min-width: 768px) { ... }

  'lg': '1024px',
  // => @media (min-width: 1024px) { ... }

  'xl': '1280px',
  // => @media (min-width: 1280px) { ... }

  '2xl': '1536px',
  // => @media (min-width: 1536px) { ... }
} */
