@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Signika:wght@300;400;500;600;700&display=swap');

:root {
  /* Colors for the page */
  --layout-color: rgb(220, 242, 241);
  --page-color: rgba(127, 199, 217, 0.3);
  --backtitle-color: rgb(15, 16, 53);
  --backtitle-v2-color: rgba(15, 16, 53, 0.8);
  --element-color: rgb(54, 84, 134);

  /* Borders for elements */
  --border-radius-page: 16px;
  --border-radius-title: 10px;

  /* Fonts variables */
  --title-font: 'Signika', sans-serif;
  --text-font: 'Bree Serif', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}

/* screens: {
  'sm': '640px',
  // => @media (min-width: 640px) { ... }

  'md': '768px',
  // => @media (min-width: 768px) { ... }

  'lg': '1024px',
  // => @media (min-width: 1024px) { ... }

  'xl': '1280px',
  // => @media (min-width: 1280px) { ... }

  '2xl': '1536px',
  // => @media (min-width: 1536px) { ... }
} */
