@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Signika:wght@300;400;500;600;700&display=swap');

:root {
  /* Colors for the page */
  --layout-color: rgb(255, 255, 255);
  --page-color: rgba(30, 16, 78, 0.9);
  --backtitle-color: rgb(30, 16, 78);
  --backtitle-v2-color: rgba(30, 16, 78, 0.8);
  --element-color: rgb(69, 46, 90);
  --cristal-main-color: rgba(255, 255, 255, 0.08);
  --cristal-border-color: rgba(255, 200, 92, 0.28);
  --cristal-box-shadow-color: rgba(255, 101, 63, 0.2);
  --text-color: rgb(255, 255, 255);
  --accent-color: rgb(255, 101, 63);
  --accent-secondary-color: rgb(255, 200, 92);
  --linear-gradient: linear-gradient(
    45deg,
    rgb(30, 16, 78)  0%,
    rgb(42, 24, 82)  30%,
    rgb(54, 33, 86)  55%,
    rgb(63, 40, 89)  75%,
    rgb(69, 46, 90)  100%
  );

  --backend-tag-color: rgb(255, 101, 63);
  --frontend-tag-color: rgb(255, 200, 92);
  --fullstack-tag-color: rgb(69, 46, 90);

  /* Borders for elements */
  --border-radius-page: 16px;
  --border-radius-title: 10px;

  /* Fonts variables */
  --title-font: 'Signika', sans-serif;
  --text-font: 'Bree Serif', serif;

  /* Pages gap */
  --page-gap: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100dvh;
}

/* screens: {
  'sm': '640px',
  // => @media (min-width: 640px) { ... }

  'md': '768px',
  // => @media (min-width: 768px) { ... }

  'lg': '1024px',
  // => @media (min-width: 1024px) { ... }

  'xl': '1280px',
  // => @media (min-width: 1280px) { ... }

  '2xl': '1536px',
  // => @media (min-width: 1536px) { ... }
} */