@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--layout-color);
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: var(--layout-color);
}
