@import './base.css';

body {
  background-color: var(--page-color);
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
}

img {
  object-fit: cover;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: var(--layout-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

::-webkit-scrollbar {
  height: 7px;
  background: var(--page-color);
  border-radius: var(--border-radius-page);
}

::-webkit-scrollbar-thumb {
  background: var(--layout-color);
  border-radius: calc(15px / 2);
}
